legal.txt
.svn
xilinx
obj_dir
obj-pc
obj-zip
*.o
*.a
*.vcd
.swp
.*.swp
.*.swo
svn-commit*
*_tb
*_tb.dbl
*dbg.txt
*dump.txt
*debug.txt
tags
cpudefs.h
design.h
design.h
*.wlf
core
*.aux
*.log
*.out
*.ps
*.yslog
*.smt2
*_sim
inbox/
.claude/
work/
*.wlf
transcript
